# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*/[Bb]in
*/[Oo]bj
*/Release
*/Debug
*.suo
*.err
*.log
*.obj
*.bin
*.dll
*.exe
*.LOG
*.user
*.pdb
[tT]emp
[tT]empPE
Ankh.Load
thumbs.db
*.resharper
*.vspscc
*.vsssccc
*.scc
*/_ReSharper*
*/_ReSharper.*
bin
obj
*.resharperoptions
*.db
*.bak
*_ReSharper*
*.snklogs
output
# mstest test results
TestResults
deploy
deploy/*
*.csproj.user
*.resharper.user
*.cache
*.usertasks
*.userprefs
*.licx
Tmp/
Log/
Uploads/
~$*
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
# Include dlls if they’re in the NuGet packages directory
!/packages/*/lib/*.dll